/* html {
    scroll-behavior: smooth;
}

header {
    box-shadow: 0 3px 7px 0 rgb(19 20 20 / 33%);
}

body {
    margin: 0;
}

h1 {
    padding-top: 4em;
    text-align: center;
}

.p-text {
    font-size: 1em;
    color: gray;
    text-align: justify;
}

.h2 {
    font-size: 2em;
}

.nav-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.midl {
    margin-left: 10%;
    margin-right: 10%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    margin-block-end: -86px;
}

.nav-right a {
    margin-left: 5px;
    margin-right: 5px;
    color: gray;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    transition: 100ms ease-in-out;
    padding-bottom: 20px;
}

.contain1 {
    font-size: 2em;
}

.burger {
    display: flex;
    background-size: cover;
    object-position: center;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.nav-right a:hover {
    scroll-behavior: smooth;
    color: green;
    border-bottom: 5px solid rgba(5, 99, 5, 0.616);
    transition: 100ms ease-in-out;
}

.icon {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 50px;
}

.icon-child {
    display: flex;
    align-items: center;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

.icon-child2 {
    display: flex;
    background-color: rgb(236, 236, 236);
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    max-width: 250px;
}

.icon-child2 img {
    margin-right: 5px;
}

.icon-child img {
    margin-right: 5px;
    margin-left: 10px;
}

.button-div {
    display: flex;
    padding: 10px;
    font-size: 20px;
}

button {
    width: 150px;
    height: 40px;
}

.label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 1px solid rgb(235, 235, 235);
    border-right: none;
}

.button {
    background-color: green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.button :hover {
    cursor: pointer;

}

.table-contain {
    width: 100%;
}

.row-1 {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 10px;
    
}

.row-2 {
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    
}

.one {
    display: flex;
    justify-content: center;
    width: 10%;
}

.two {
    display: flex;
    justify-content: flex-start;
    width: 10%;
}

.three {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    
}

.img-profile {
    border-radius: 100%;
}

.logolinks {
    margin-left: 10%;
    margin-right: 10%;
}

.links {
    margin-left: 10%;
    margin-right: 10%;
}

.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media(max-width: 1200px) {
    .hide-mobile {
        display: none;
    }
    
    .input-t {
        width: 10%;
    }

    h1 {
        font-size: 1em;
    }

    .p-text {
        font-size: 0.7em;
        color: gray;
    }

    .h2 {
        font-size: 1.3em;
    }

    .nav-left {
        object-fit: contain;
        max-width: 200px;
    }

    .burger {
        display: flex;
        align-items: center;
        object-fit: contain;
        width: 100%;
        height: auto;
    }
    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .icon-child2-contain {
        display: flex;
        justify-content: center;
    }

    .icon-child, .icon-child2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        max-width: 250px;
        padding: 0;
    }

    .button-div {
        flex-direction: column;
    }
    input {
        border-right: 1px solid rgb(235, 235, 235);
        border-radius: 10px;
        width: 100px;
        
    }
    .button {
        margin-top: 10px;
        border-radius: 10px;
    }
    .tabel {
        max-width: 100%;
    }
    .table-contain {
        font-size: 0.8em;
    }
    .row-1, .row-2 {
        width: 100%;
        border-radius: 10px;
        padding: 0;
    }

    .secondlogo {
        width: 200px;
        height: auto;
        object-fit: contain;
        justify-content: center;
    }

    
    .logolinks {
        flex-direction: column;
        padding: 10px;
       
    }
    
    .logolinks img {
        padding-top: 20px;
        transform: scale(1.4);
    }

    .socialmedia img {
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .links {
        padding: 20px;
    }

    .linkbutton a {
        margin-top: 10px;
    }
} */

html {
  scroll-behavior: smooth;
}

header {
  box-shadow: 0 3px 7px 0 rgb(19 20 20 / 33%);
}

body {
  margin: 0;
}

h1 {
  padding-top: 4em;
  text-align: center;
}

.p-text {
  font-size: 1em;
  color: gray;
  text-align: justify;
}

.h2 {
  font-size: 2em;
}

.nav-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.midl {
  margin-left: 10%;
  margin-right: 10%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-block-end: -86px;
}

.nav-right a {
  margin-left: 5px;
  margin-right: 5px;
  color: gray;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  transition: 100ms ease-in-out;
  padding-bottom: 20px;
}

.contain1 {
  font-size: 2em;
}

.burger {
  display: flex;
  background-size: cover;
  object-position: center;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.nav-right a:hover {
  scroll-behavior: smooth;
  color: green;
  border-bottom: 5px solid rgba(5, 99, 5, 0.616);
  transition: 100ms ease-in-out;
}

.icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 50px;
}

.icon-child {
  display: flex;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}

.icon-child2 {
  display: flex;
  background-color: rgb(236, 236, 236);
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  max-width: 250px;
}

.icon-child2 img {
  margin-right: 5px;
}

.icon-child img {
  margin-right: 5px;
  margin-left: 10px;
}

.button-div {
  display: flex;
  padding: 10px;
  font-size: 20px;
}

button {
  width: 150px;
  height: 40px;
}

.label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-left: 1px solid rgb(235, 235, 235);
  border-right: none;
}

.button {
  background-color: green;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.button :hover {
  cursor: pointer;
}

.table-contain {
  width: 100%;
}

.row-1 {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  display: flex;
  width: 100%;
  padding: 10px;
}

.row-2 {
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.one {
  display: flex;
  justify-content: center;
  width: 10%;
}

.two {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}

.three {
  display: flex;
  justify-content: flex-start;
  width: 6%;
}

.img-profile {
  border-radius: 100%;
}

.logolinks {
  margin-left: 10%;
  margin-right: 10%;
}

.links {
  margin-left: 10%;
  margin-right: 10%;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* only for smartphone*/

@media (max-width: 1200px) {
  .hide-mobile {
    display: none;
  }

  .input-t {
    width: 10%;
  }

  h1 {
    font-size: 1em;
  }

  .p-text {
    font-size: 0.7em;
    color: gray;
  }

  .h2 {
    font-size: 1.3em;
  }

  .nav-left {
    object-fit: contain;
    max-width: 200px;
  }

  .burger {
    display: flex;
    align-items: center;
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .icon-child2-contain {
    display: flex;
    justify-content: center;
  }

  .icon-child,
  .icon-child2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    max-width: 250px;
    padding: 0;
  }

  .button-div {
    flex-direction: column;
  }
  input {
    border-right: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    width: 100px;
  }
  .button {
    margin-top: 10px;
    border-radius: 10px;
  }
  .tabel {
    max-width: 100%;
  }
  .table-contain {
    font-size: 0.8em;
  }
  .row-1 {
    min-height: 40px;
    display: flex;
    background-color: rgb(220 236 45 / 26%);
    justify-content: center;
    align-items: center;
  }
  .row-2 {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .secondlogo {
    width: 200px;
    height: auto;
    object-fit: contain;
    justify-content: center;
  }

  .logolinks {
    flex-direction: column;
    padding: 10px;
  }

  .logolinks img {
    padding-top: 20px;
    transform: scale(1.4);
  }

  .socialmedia img {
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .links {
    padding: 20px;
  }

  .linkbutton a {
    margin-top: 10px;
  }
}
